.app-container {

}

.post {
    width: 100%; /* Обязательно задайте ширину */
    background-color: #faf2f2;
    color: black; /* Цвет текста  */
    justify-content: center;
    /*height: 400px;  /* Ограничение высоты контейнера */
    overflow: auto; /*Добавляет полосу прокрутки если все не влазит*/
}

.post-text {
    text-align: justify; /* Выравнивание текста по обоим краям */
     margin-top: 5px;
     /*font-weight: bold;         /* жирный */
    font-size: 1.2em;
}

.post-title {
    text-align: center;
    margin: 5px 10px 10px 10px;
    font-weight: bold;         /* жирный */
}

.postlist-container {
    /*background-color: black;*/
    width: 100%; /* занимает всю ширину контейнера */
    height: 100%
}

.post-image {
    width: 90%;  /* Ширина изображения */
    height: 300px; /*  высота */
    border-radius: 15px;
    object-fit: cover;
    margin-left: auto;  /*расположение посередине контейнера-родителя*/
    margin-right: auto;
}

.carousel-container {
    position: relative; /* Для позиционирования стрелок */
    width: 100%; /* чтобы занимать всю ширину средней колонки */
    max-width: 100%; /* чтобы не было превышения */
    margin: 0 auto;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #8ad3f2/*rgba*/(0, 0, 0, 0.5);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    transition: background-color 0.3s ease; /* Плавный переход */
}

.carousel-arrow.prev {
    left: 10px;
}

.carousel-arrow.next {
    right: 10px;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}