*{
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;/*расположение элементов: правый, левый по краям, остальные равномерно*/
    padding: 5px 10px 5px 10px;
    background-color: #8ad3f2;/*#808080;*/
    margin: 0;
}



.header-main {
    /*display: flex;*/
    flex: 0.9;
    /*flex-direction: ro;*/
    align-items: center;
    /*background-color: black;*/
}

.header-title {
    margin: 0;
    font-size: 30px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); /*тень для текста*/
}
.header-text {
    margin: 0;
    font-size: 17px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); /*тень для текста*/
}

.header-nav {
    margin-top: 10px;
}

.header-nav ul{
    list-style: none;  /*отсутствие маркеров*/
    display: flex;   /*Элементы шапки размещаются в ряд*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.header-nav li{
    font-size: 20px;
    padding: 5px 60px 5px 3px;
    transition: all 0.3s ease;
}
.header-nav li:hover{
    font-size: 25px;
}

.header-nav a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #09069e; /* Цвет ссылок */
    font-weight: bold; /* Жирный шрифт */
}

.work-time {
    align-items: center;
    flex-direction: column;
}

.work-time h2{
    color: black;
    font-size: 16px;
    margin-top: 9px;
}

.work-time h1{
    color: black;
    font-size: 16px;
    margin-top: 9px;
}



